# LINE OA & LIFF credentials
LINE_CHANNEL_ACCESS_TOKEN=YOUR_CHANNEL_ACCESS_TOKEN
LINE_CHANNEL_SECRET=YOUR_CHANNEL_SECRET
LIFF_ID=2010963239-bz5ESBtG

# Server configuration
PORT=5678

# Admin Authentication credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=laundry123
ADMIN_TOKEN=admin-session-secure-token
